{{> header }}
{{> navbar }}
<div>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, quidem. At voluptates ipsum incidunt eveniet sit est sint nesciunt assumenda, repudiandae, perspiciatis minima quod tenetur nam dolore quae. Vitae, quis.</p>
</div>
{{> footer }}
